# Node.js och React-relaterade filer
node_modules/
build/
dist/
npm-debug.log*
yarn-error.log*
yarn.lock

# Python-relaterade filer
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
ENV/

# Celery
celerybeat-schedule

# Loggfiler
*.log

# Systemfiler
.DS_Store
Thumbs.db

# IDE-specifika filer
.vscode/
.idea/

# Docker-relaterade filer
docker-compose.override.yml

# Miljövariabler
.env.local
.env.*.local
.env
frontend/.env

# Test- och täckningsrapporter
coverage/
*.lcov
htmlcov/
.pytest_cache/

# SQLite-databasfiler
*.sqlite

# Temporary files
*.bak
*.tmp
*.temp
*.old
*.swp
*.swo
uploads/Win64OpenSSL-3_5_1.msi
